# This variable was readymade example when use compose deploy.

DEV=0
JWT_SECRET=secret*key@user*management*system
STATIC_ADMIN_ID=1
CLIENT_URL=http://localhost:5173

MYSQL_HOST=db
MYSQL_DB_NAME=user_management_system
MYSQL_USERNAME=user
MYSQL_PASS=1234
DB_PORT=3306

